html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
body {
  margin: 0;
  font-family: 'Roboto', Arial;
  background-color: black;
  position: relative;
  width: 100%;
}
.main-background {
  height: 100%;
  width: 100%;
  object-fit: none;
  position: fixed;
  z-index: -1;
  opacity: 0.25;
  background-repeat: repeat;
  background-image: url(imgs/backgrounds/3.png);
  background-size: 400px;
  filter: blur(1px);
}
.background-container {
  position: fixed;
  z-index: -1;
  background-repeat: repeat;
}
.info-button {
  color: white;
  position: fixed;
  left: 20px;
  top: 20px;
  font-size: 35px;
  text-decoration: none;
  transition: color 0.1s;
  z-index: 10;
}
.info-button:hover {
  color: #f26122;
}
.info-button:active {
  color: rgb(255, 141, 96);
  transform: translateY(2px);
}
.main-content {
  display: grid;
  grid-template-columns: 500px 500px;
  justify-content: center;
  align-items: center;
}
.box {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 500px;
  max-height: 500px;
}
.box img {
  width: 100%;
  height: 100%;
  max-width: 500px;
  max-height: 500px;
  object-fit: contain;
}
.box-letter {
  transition: filter 0.3s;
}
.box-letter:hover {
  filter: invert(47%) sepia(18%) saturate(4933%) hue-rotate(162deg) brightness(96%) contrast(101%);
}
.box-container {
  margin: 70px 0px;
}
.product-info-container {
  font-size: 1.3em;
  position: absolute;
  top: 25%;
  right: 0%;
  opacity: 0;
  color: white;
  font-weight: 700;
  align-items: center;
  transform: translateY(-50%);
  text-align: center;
  transition: opacity 0.25s;
}
.product-info-container-left {
  font-size: 1.3em;
  position: absolute;
  top: 25%;
  left: 0%;
  color: white;
  font-weight: 700;
  align-items: center;
  transform: translateY(-50%);
  text-align: center;
  opacity: 0;
  transition: opacity 0.25s;
}
.model:hover + .product-info-container-left {
  opacity: 1;
}
.model:hover + .product-info-container {
  opacity: 1;
}
.footer {
  position: fixed;
  bottom: 20px;
  left: 20px;
}
.instagram-logo {
  filter: invert(100%);
  width: 50px;
  height: 50px;
  transition: filter 0.1s;
}
.instagram-logo:hover {
  filter: invert(49%) sepia(30%) saturate(6489%) hue-rotate(350deg) brightness(101%) contrast(90%);
  cursor: pointer;
}
.instagram-logo:active {
  filter: invert(59%) sepia(84%) saturate(456%) hue-rotate(323deg) brightness(101%) contrast(102%);
}


@media (max-width: 1000px) {
  .box img {
    max-width: 500px;
    max-height: 500px;
    width: 100%;
    height: 100%;
  }
  .main-content {
    grid-template-columns: 1fr 1fr;
  }
  .instagram-logo {
    top: 20px;
    right: 20px;
    position: fixed;
    max-width: 40px;
    max-height: 40px;
  }
  .product-info-container {
    top: 50%;
    right: 20%;
  }
  .product-info-container-left {
    top: 50%;
    left: 20%;
  }
}

@media (max-width: 500px) {
  .box img {
    max-width: 300px;
    max-height: 300px;
    width: 100%;
    height: 100%;
  }
  .main-content {
    grid-template-columns: 1fr 1fr;
  }
  .instagram-logo {
    top: 20px;
    right: 20px;
    position: fixed;
    max-width: 40px;
    max-height: 40px;
  }
}