h1 {
  margin: 0;
  padding-top: 50px;
  text-align: center;
  font-size: 60px;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}
.main-background {
  height: 100%;
  width: 100%;
  object-fit: fill;
  position: fixed;
  z-index: -1;
  opacity: 0.4;
}
.header {
  z-index: 1;
  color: white;
  text-align: center;
}
.email-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.email {
  display: block;
  text-align: center;
  color: white;
  font-size: 50px;
  margin-top: 50px;
  text-decoration: none;
}
.email:hover {
  color: rgb(242, 97, 34);
}
.email:active {
  color: rgb(255, 141, 96);
}

h1 {
  margin: 0;
  padding-top: 50px;
  text-align: center;
  font-size: 60px;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  width: 100%;
  position: relative;
}
.main-background {
  height: 100%;
  width: 100%;
  object-fit: fill;
  position: fixed;
  z-index: -1;
  opacity: 0.4;
}
.header {
  z-index: 1;
  color: white;
  text-align: center;
}
.email-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.email {
  display: block;
  text-align: center;
  color: white;
  font-size: 50px;
  margin-top: 50px;
  text-decoration: none;
}
.email:hover {
  color: rgb(242, 97, 34);
}
.email:active {
  color: rgb(255, 141, 96);
}

@media (max-width: 1000px) {
  .email {
    font-size: 3em;
    }
}

@media (max-width: 500px) {
  .email {
    font-size: 2em;
    }
}
